.users-container{
  background-color: $color-gray-90;
}

.user-container{
  background-color:$color-gray-70;
  left:0;
  top:0;
  width:100%;
  height:400px;
  display:flex;
  text-align: center;
  z-index:0;
  &__container__title{
    margin:0 0 0% 0;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    &__left{
        display:inline-flex;
        align-items:center;
    }
  }
  &__info{
      width:100%;
      display: flex;
      justify-content: center;
      display: inline-block;
  }
  &__tabs{
      left:50%;
      transform: translate(-50%, 0%);
      top:0;
      width:100%;
      margin-top:354px;
      position:absolute;
      text-align:center;
  }
}

.avatar{
  display:inline-flex;
  background: $color-gray-80;
  width: 150px;
  height: 150px;
  border-radius: 50%;
    z-index:1;
    transition:0.4s;
    &__hover{
        background-color: $color-gray-60;
        border:$color-primary-default;
        transition:0.4s;
        cursor:pointer;
    }
    &__imghover{
        opacity: 0.7;
        cursor:pointer;
    }
    p{
        text-align:center;
        margin:50px 0 0 5px;
        
    }
}

.user-component{
  justify-content: space-between;
  display:flex;
  position: static;
  height: 80px;
  left: 16px;
  top: 80px;
  border-radius: 4px;
  flex: none;
  order: 4;
  align-self: flex-start;
  margin: 12px 8px;
  color:white;
  padding:20px;
  p{
      color: #C3C3CF;
  }
  img{
      width:42px;
      height:42px;
  }
  }
  
  
  
  