.users-container{
  background-color: $color-gray-90;
}

.user-container{
  background-color:$color-gray-70;
  left:0;
  top:0;
  width:100%;
  height:400px;
  position:absolute;
  display:flex;
  text-align: center;
  z-index:-1;
  &__info{
      width:100%;
      display: flex;
      justify-content: center;
      display: inline-block;
  }
  &__tabs{
      left:50%;
      transform: translate(-50%, 0%);
      top:0;
      width:100%;
      margin-top:354px;
      position:absolute;
      text-align:center;
  }
}

.avatar{
  display:inline-flex;
  background: #444242;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.user-component{
  justify-content: space-between;
  display:flex;
  position: static;
  height: 80px;
  left: 16px;
  top: 80px;
  background: #31313D;
  border-radius: 4px;
  flex: none;
  order: 4;
  align-self: flex-start;
  margin: 12px 8px;
  color:white;
  padding:20px;
  p{
      color: #C3C3CF;
  }
  img{
      width:42px;
      height:42px;
  }
  }
  
  
  
  