/* @import '~antd/dist/antd.css'; */

.bottom-sheet{
    height:100%;
    width:100%;
}

.panel{
    background-color:white;
    height:100%;
    width:100%;
    position:absolute;
}

.bold{
    font-weight:800;
}

.form-control{
    width:100%;
    height:32px;
    border-radius:3px;
    outline: none;
    padding: .6rem 1.6rem;
}

.input-error{
    border-color:#BC324C;
}

.gm-container{
    width:100%;
}

.gm-icon{
    display:flex;
    justify-content: center;
    width:62px;
    height:62px;
}