/* @import '~antd/dist/antd.css'; */

.bottom-sheet{
    height:100%;
    width:100%;
}

.panel{
    background-color:white;
    height:100%;
    width:100%;
    position:absolute;
}

.bold{
    font-weight:800;
}