$color-primary: #FFFFFF;
$color-secondary: #C3C3CF;
$color-disabled: #666674;

$color-divider-border-disabled: #31313D;
$color-input-border: #666674;
$color-input-hover: #9898A5;

.App{
    min-height:100vh;
    overflow-y:hidden;
    overflow-x:hidden;
}

.dark{
    overflow-x: hidden; //horizontal
    overflow-y: hidden; //vertical
    background: #1D1D25;
    h1, h2, h3, h4, p{
        color:white;
    }
    .rectangleButton {
        background: #31313D !important; 
    }

    .bottom-sheet-item__oneline, .bottom-sheet, .bottom-sheet-wrapper{
        background-color:#31313d;        
    }

    .modal-content{
        background-color:#31313d !important;
        h1{
            color:white;
        }
    }
  }

  .light{
    .rectangleButton {
    background: #FFFFFF;
    box-shadow: 0px 0.3px 0.9px rgba(34, 34, 34, 0.1), 0px 1.6px 3.6px rgba(34, 34, 34, 0.13);
    border-radius: 5px;
    }
    h1, h2, h3, h4, p{
        color:#1D1D25;
    }
    .user-container{
        background-color: $color-gray-10;
    }

    .navigation{
        background: #FFFFFF;
        box-shadow: 0px 0.3px 0.9px rgba(34, 34, 34, 0.1), 0px 1.6px 3.6px rgba(34, 34, 34, 0.13);
    }
  }
  