.micro-bottom{
    margin: .8rem 1.6rem .8rem 1.6rem;
    padding: 1.8rem 1.6rem;
    text-align:center;
    position: static;
    width: calc(100% - 3.2rem);
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #09090B;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items:center;
    justify-content: space-between;

    img{
        width:42px;
        height:42px;
    }

    &:hover{
        border: 1px solid $color-primary-default;
        cursor:pointer;
    }

    h3{
        color:$color-gray-60;
    }
    }

    .bottom-sheet-wrapper{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
        padding: 0 0 0 0;
        position: fixed;
        bottom: 0;
        height: 72px;
        width: 100%;
        backdrop-filter: blur(4px);
        background-color: white;
        z-index: 4;
    }

    .bottomsheet-without-background{
        z-index:2;
        @include sm{
            width:100% !important;
            padding:0;
            margin:0;
        }
    }

    .bottom-sheet-item{

        bottom-sheet-item:first-child{
            box-shadow: 0px 0.6px 1.8px rgba(34, 34, 34, 0.1), 0px 3.2px 7.2px rgba(34, 34, 34, 0.13);
            border-radius: 45px 45px 0px 0px;
        }
        &__content{
            display:flex;
            align-items: center;
            height: 80px;
            justify-content: center;
            min-width:200px;
            font-size:18px;
            color:$color-gray-40;
            transition:0.7s;
            &:hover{
                color:$color-neutral-default;
                cursor:pointer;
                transition:0.7s;
            }
        }
        &__oneline{
            border-top: solid 1px $color-gray-40;
            display:flex;
            align-items: center;
            height:70px;
        }

        @include sm{
            height:78px;
        }
    }

    .bottom-sheet-item:first-child{
        box-shadow: 0px 0.6px 1.8px rgba(34, 34, 34, 0.1), 0px 3.2px 7.2px rgba(34, 34, 34, 0.13);
        border-radius: 45px 45px 0px 0px;
    }