.btn {
  //button default styles
  padding: 0 1.6rem;
  cursor: pointer;
  font-weight: bold;
  border-radius: 2px;

  outline: none;
  border: none;

  //button sizes
  &--sm {
    height: 2.4rem;
  }

  &--md {
    height: 3.2rem;
  }

  &--lg {
    height: 4.8rem;
  }

  //disabled button style
  &:disabled {
    color: $color-disabled;
    background: $color-gray-30;

    //overwrite hover effect for disabled button
    &:hover {
      background: $color-gray-30 !important;
    }
  }

  //primary buttons colors & hover effect
  &--primary {
    background: $color-primary-default;
    color: $color-white;

    //hover effect
    &:hover,
    &:active {
      background: $color-neutral-dark;
    }
  }

  //secondary buttons colors & hover effect
  &--secondary {
    background: $color-secondary-default;
    color: $color-white;

    //hover effect
    &:hover,
    &:active {
      background: $color-secondary-darkest !important;
    }
  }

  //Dangerous buttons colors & hover effect
  &--dangerous {
    background: $color-error-default;
    color: $color-white;

    //hover effect
    &:hover,
    &:active {
      background: $color-error-darkest !important;
    }
  }

  //Dangerous buttons colors & hover effect
  &--regular {
    background: $color-gray-70;
    color: $color-white;

    //hover effect
    &:hover,
    &:active {
      background: $color-disabled !important;
    }
  }

  &--icon{
    width: 1.5rem;
    height: 1.5rem;

    position: relative;
    bottom: -2.25px;

    margin-right: .8rem;
  }

  &--small{
    width: 3.2rem;
    height: 3.2rem;
    outline: none;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: .8rem;

    //disabled button style
    &:disabled {
      color: $color-disabled;
      background: $color-gray-30;

      //overwrite hover effect for disabled button
      &:hover {
        background: $color-gray-30 !important;
      }
    }
  }

  &--circle{
    border-radius: 50%;
  }
}