.employee{
  &__avatar{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 8px;

    &-empty{
      @extend .employee__avatar;
      background-color: $color-gray-60;
    }
  }
}