@import "../rwd.scss";

input, textarea {
  margin: 1rem 0 1rem 0;
  padding: 1rem 2rem;
  width: 100%;
  text-align: left;
  font-size: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}

input[type=checkbox]{
  margin: 0 0 0 0 !important;
  padding: 0 0 !important;
  border:1px solid  $color-neutral-default ;
  height:20px;
  width:20px;
  top: -55px;
  left:10px;
  border-radius:4px;
  position:relative;

  @include sm{
      display:none;
  }
}

label {
  margin: 2rem 0 0 0;
  font-size: 1.6rem;
  text-align: left;
}

.input-error {
  border-color: $color-error-default !important;
  color: $color-error-default;
}

.error-hint {
  font-style: italic;
  font-size: 1.2rem;
}

.checkbox-generic-list{
  &__element{
      display:grid;
      margin:  0 0;
      @include sm{
          margin:  1.6rem 0;
      }
  }
  &__checkbox{
      &:hover{
          cursor:pointer;
      }
  }
}

input[type=checkbox]{
  margin: 0 0 0 0 !important;
  padding: 0 0 !important;
  border:1px solid  $color-neutral-default ;
  height:20px;
  width:20px;
  top: -55px;
  left:10px;
  border-radius:4px;
  position:relative;

  @include sm{
      display:none;
  }
}

.checkbox-label{
  border:1px solid  $color-neutral-default ;
  height:20px;
  width:20px;
  top: 50px;
  left:10px;
  border-radius:4px;
  position:relative;

  a{
      text-decoration:none !important;
  }
  @include sm{
      border:0px solid  $color-neutral-default ;
      width:100%;
      height:80px;
      position:initial;
  }
  margin:0;
  &:hover{
      cursor:pointer;
  }
}

.active{
  border:3px solid  $color-neutral-default ;
  border-radius: 8px;
  padding:-1rem;
}

.form-check-input{
  width:50px;
}


// searchbox input


.search-box
{
  position : absolute;
  box-shadow: 0 8px 24px 0 rgba(147, 179, 158, 0.15);
  background-color: #ffffff;
  height : 40px;
  border-radius : 40px;
  padding : 10px;
  &__icon{
    position:absolute;
    top:5px;
  }
}
.search-btn
{
  color : #4097FF;
  float : right;
  width : 40px;
  border-radius: 50%;
  color:#5E4AE3;
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition:0.4s;
}
.search-txt
{
  border:none;
  background:none;
  outline:none;
  float:left;
  margin-top:-10px;
  padding:0;
  color: blue;
  font-size:16px;
  transition : 0.4s;
  line-height: 40px;
  width : 0px;
}
.search-box:hover > .search-txt
{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn
{
 background:white;
}
