@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-size: $default-font-size;
  font-family: 'Montserrat', sans-serif;
}

body{
  overflow-x: hidden; //horizontal
  overflow-y: hidden; //vertical
}

h1,
h2,
h3{
  font-weight: 700;
}

h1{
  font-size: 4.8rem;
  line-height: 5.8rem;
}

h2{
  font-size: 2.4rem;
  line-height: 3.6rem;
}

h3{
  font-size: 2rem;
  line-height: 3rem;
}

h4{
  font-size:1.6rem;
  line-height:2.8rem;
}

p{
  font-size:1.4rem;
}

.Label-Button{
  font-size: 1.4rem;
  line-height: 2rem;
}

.body{
  &-1 {
    &-medium,
    &-regular{
      font-size: 1.8rem;
      line-height: 2.7rem;
    }

    &-medium{
      font-weight: 500;
    }

    &-regular{
      font-weight: 400;
    }
  }

  &-2{
    &-medium,
    &-regular{
      font-size: 1.6rem;
      line-height: 2.5rem;
    }

    &-medium{
      font-weight: 500;

    }

    &-regular{
      font-weight: 400;
    }
  }

  &-3{
    &-medium,
    &-regular{
      font-size: 1.4rem;
      line-height: 2.1rem;
    }

    &-medium{
      font-weight: 500;
    }

    &-regular{
      font-weight: 400;
    }
  }
}

.Small-tag{
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8rem;
}