.container{
    text-align: center;

}

.dropzone {
    text-align: center;
    width:100%;
    border-radius: 16px;
    border: 1px dashed rgba(181, 189, 207, 0.7);
    padding: 50px;
    transition: border .15s ease-in-out;
    &.drop-active {
      border-color: #009fda;
      border-style: solid;
      border-width: 2px;
    }
}

.file {
    background: #C4C4C4;
    border-radius: 2px;
    height:42px;
    width:42px;
    display:inline-flex;
}

.navigation{
    height: 100%;
    width: 74px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #31313D;;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    &__menu{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        &__icon{
            padding:5px;
        }
    }
}

.exercise__form{
display:inline-flex;
width:100%;
margin:0 0 0 25%;
text-align:left;
h2:first-child {
    min-width:220px;
    margin:0 25% 0 0;
  }
}

a.active{
    background-color:#5E4AE3;
    border-radius:8px;
    display:inline-flex;
}

.counter{
    display:inline-flex;
    text-align:center;
}