@import "./designsystem/main.scss";

.container{
    width:50%;
    margin:0 25% 10% 25%;
    padding:2% 0;
    z-index:1;
    &__title{
        margin:0 0 15% 0;
        width:100%;
        display:flex;
        align-items:center;
        justify-content: space-between;
        &__left{
            display:inline-flex;
            align-items:center;
        }
    }
    @include xs{
        width:90%;
        margin:0 5%;
    }
}


.navigation{
    height: 100%;
    width: 74px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #31313D;;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    &__menu{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        &__icon{
            padding:5px;
        }

        @include xs{
            display:inline-flex;
        }
    }

    @include xs{
        left:0;
        position: fixed;
        bottom:0;
        height: 74px;
        width: 100%;
        
    }
}



a.active{
    background-color:#5E4AE3;
    border-radius:8px;
    display:inline-flex;
}

.counter{
    display:inline-flex;
    text-align:center;
}

.error {
    color: red;
} 

.micro-bottom{
    margin: .8rem 1.6rem .8rem 1.6rem;
    padding: 1.8rem 1.6rem;
    text-align:center;
    position: static;
    width: calc(100% - 3.2rem);
    height: 70px;
    background: #FFFFFF;
    border: 1px solid #09090B;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items:center;
    justify-content: space-between;

    img{
        width:42px;
        height:42px;
    }

    &:hover{
        border: 1px solid $color-primary-default;
        cursor:pointer;
    }
    }

    .icon{
        display:inline-flex;
        align-items:center;
        &:hover{
            cursor:pointer;
        }
    }