.navigation{
    height: 100%;
    width: 74px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #31313D;;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}