@import "./designsystem/main.scss";

.container{
    width:50%;
    margin:0 25% 10% 25%;
    padding:2% 0;
    &__title{
        margin:0 0 15% 0;
        width:100%;
        display:flex;
        align-items:center;
        justify-content: space-between;
        &__left{
            display:inline-flex;
            align-items:center;
        }
    }
    @include xs{
        width:90%;
        margin:0 5%;
    }
}



.navigation{
    height: 100%;
    width: 74px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #31313D;;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    &__menu{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);

        &__icon{
            padding:5px;
        }

        @include xs{
            display:inline-flex;
        }
    }

    @include xs{
        left:0;
        position: fixed;
        bottom:0;
        height: 74px;
        width: 100%;
        
    }
}



a.active{
    background-color:#5E4AE3;
    border-radius:8px;
    display:inline-flex;
}

.counter{
    display:inline-flex;
    text-align:center;
}



.file-item{
    width:72px;
    height:72px;
    border:1px solid  #4aa1f3;
    display:inline-block;
    display:flex;
    margin:20px 20px 0 0;
    justify-content: space-between;
    position:relative;
    &__type{
        display: inline-block!important;
        font-size: 12px;
        height:15px;
        padding: 0 4px;
        color: #fff;
        background: #5E4AE3;
        align-self: flex-start;
        text-transform: uppercase;
    }
    &__remove{
        position:absolute;
        top:-12px;
        right:-12px;
    }
}

.file-select{
    width:100%;
    display:flex;
    align-items:center;
}




.file-input {
    display: none;
} 

.file-upload-btn {
    color: white;
    text-transform: uppercase;
    outline: none;
    background-color: #4aa1f3;
    font-weight: bold;
    padding: 8px 15px;
    margin-bottom: 5px;
}

.dropzone-container {
    display:inline-flex;
}

  
.file-display-container {
    width:100%;
    display:inline-flex;
}
  
.file-status-bar{

}
  
.file-status-bar > div {
    overflow: hidden;
}
  


.file-name {
    display: inline-block;
    vertical-align:top;
    margin-left: 50px;
    color: #4aa1f3;
}

.file-error {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    color: #9aa9bb;
}

.file-error-message {
    color: red;
}
  
.file-type-logo {
    width: 50px;
    height: 50px;
    // background: url(../images/generic.png) no-repeat center center; 
    background-size: 100%;
    position: absolute;
}
  
.file-size {
    display:inline-block;
    vertical-align:top;
    color:#30693D;
    margin-left:10px;
    margin-right:5px;
    margin-left: 10px;
    color: #444242;
    font-weight: 700;
    font-size: 14px;
}

.file-preview{
    margin-left:20%;
    width:72px;
    height:72px;
    &__file{
        width:72px;
        height:72px;
    }
}

.error {
    color: red;
}

.user-component{
justify-content: space-between;
display:flex;
position: static;
height: 80px;
left: 16px;
top: 80px;
background: #31313D;
border-radius: 4px;
flex: none;
order: 4;
align-self: flex-start;
margin: 12px 8px;
color:white;
padding:20px;
p{
    color: #C3C3CF;
}
img{
    width:42px;
    height:42px;
}
}





/// 

  body .footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 14px;
    background-color: #9FB1BC;
    color: #fff;
    padding-left: 20px;
  }
  body button.example {
    width: 50%;
    margin: 7rem 0;
    background-color: #E2C044;
    color: #fff;
    padding: 10px;
    font-size: 18px;
  }
  button {
    border: none;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
  }
  button:focus {
    outline: none;
  }
  .bottom-sheet-wrapper {
    -webkit-transition: opacity 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
    -moz-transition: opacity 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
    -ms-transition: opacity 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
    -o-transition: opacity 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
    transition: opacity 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 998;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .bottom-sheet-wrapper .bottom-sheet-block-layer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .bottom-sheet-wrapper .bottom-sheet {
    -webkit-transition: transform 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
    -moz-transition: transform 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
    -ms-transition: transform 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
    -o-transition: transform 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
    transition: transform 500ms cubic-bezier(0.03, 0.72, 0.36, 0.99);
    -webkit-transform: translate3d(0px, 100%, 0);
    -moz-transform: translate3d(0px, 100%, 0);
    -ms-transform: translate3d(0px, 100%, 0);
    -o-transform: translate3d(0px, 100%, 0);
    transform: translate3d(0px, 100%, 0);
    position: absolute;
    bottom: 0px;
    z-index: 999;
    width: 100%;
    background-color: #fff;
  }
  .bottom-sheet-wrapper.hide {
    display: none;
  }
  .bottom-sheet-wrapper .bottom-sheet-item {
    display: block;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    border: none;
    border-top: 1px solid #ededed;
    font-size: 16px;
  }
  .bottom-sheet-wrapper .bottom-sheet-item.cancel {
    color: #d0021b;
  }
  .bottom-sheet-wrapper .toast {
    bottom: 110%;
  }
  .bottom-sheet-wrapper.enter {
    opacity: 1;
  }
  .bottom-sheet-wrapper.enter .bottom-sheet {
    -webkit-transform: translate3d(0px, 0px, 0);
    -moz-transform: translate3d(0px, 0px, 0);
    -ms-transform: translate3d(0px, 0px, 0);
    -o-transform: translate3d(0px, 0px, 0);
    transform: translate3d(0px, 0px, 0);
  }
  