$default-font-size: 62.5%;

$color-primary-darkest: #3E3293;
$color-primary-dark: #4F3FBC;
$color-primary-default: #5E4AE3;
$color-primary-light: #C9C0FF;
$color-primary-lightest: #F6F4FF;

$color-secondary-darkest: #AE5717;
$color-secondary-dark: #DE7428;
$color-secondary-default: #FD9142;
$color-secondary-light: #FFC69D;
$color-secondary-lightest: #FFF7F1;

$color-success-darkest: #133212;
$color-success-dark: #245422;
$color-success-default: #2E6D2C;
$color-success-light: #DFF2DF;

$color-error-darkest: #862033;
$color-error-dark: #9F233A;
$color-error-default: #BC324C;
$color-error-light: #FFF0F0;

$color-warning-darkest: #9F7C21;
$color-warning-dark: #C29728;
$color-warning-default: #DBAE3C;
$color-warning-light: #FFF9F0;

$color-neutral-darkest: #3E3293;
$color-neutral-dark: #4F3FBC;
$color-neutral-default: #5E4AE3;
$color-neutral-light: #C9C0FF;

$color-gray-110: #C9C0FF;
$color-gray-100: #101013;
$color-gray-90: #1D1D25;
$color-gray-80: #31313D;
$color-gray-70: #51515F;
$color-gray-60: #666674;
$color-gray-50: #9898A5;
$color-gray-40: #C3C3CF;
$color-gray-30: #DDDDE6;
$color-gray-20: #E7E7F0;
$color-gray-10: #F0F0F5;
$color-white: #FFFFFF;

$color-overlay-30: rgba(81, 81, 95, 0.3);
$color-overlay-10: rgba(81, 81, 95, 0.1);

$color-link: #5E4AE3;

$color-input-active: #5E4AE3;
$color-input-error: #BC324C;
$color-dark-border: #09090B;
$color-white-border: #FFFFFF;

